<ul class="flex list-reset border border-grey-light rounded w-auto">
<li class=" disabled bg-white block text-blue-600 hover:text-white hover:bg-blue-500 text-blue px-3 py-2"">
  <%= link_to raw(t 'views.pagination.truncate'), '#', class: 'page-link' %>
</li>
