<p>
  <strong>First Name:</strong>
  <%= @parent.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @parent.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @parent.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @parent.email %>
</p>
