<p class="mb-2">
  <strong>Name:</strong>
  <%= [@parent.first_name,@parent.last_name].join(' ').titleize  %>
</p>
<p class="mb-2">
  <strong>Address:</strong>
  <%= @parent.address %>
</p>

<p class="mb-2">
  <strong>Email:</strong>
  <%= @parent.email %>
</p>
