<%= form_for([@review],html: { multipart: true }) do |form| %>
  <div class="rating-form inline-block align-top flex ">
    <%= form.text_field :rating, style: 'width:0px' %>
    <%= form.hidden_field :reviewable_id, value: params[:reviewable_id] %>
    <%= form.hidden_field :reviewable_type, value: params[:reviewable_type] %>
  </div>
<% end %>
<script>
	$('.rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>